.predictor {
  overflow: hidden;
  background: #000;
  padding: 10px 20px 20px 20px;
}

.predictor__item {
  border: 2px solid transparent;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  padding: 5px 0;
  margin: 3px 0;
}

.predictor__item--interactive {
  padding: 5px 10px;
  border: 2px solid #42dd84;
  margin: 2px 5px;
}

.predictor__item--active {
  border: 2px solid #0076ff;
  background: #0076ff;
}
