.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-shrink: 0;
  background: #fff;
}

.row--light {
  background-color: #f6f6f6;
}

.row--primary {
  background-color: #0076ff;
}

.row--secondary {
  background-color: #42dd84;
}

.row--dark {
  background-color: #000;
  color: #fff;
}

.row__cell {
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.row__cell--right {
  text-align: right;
}

.row__cell--center {
  text-align: center;
}

.row__cell--top {
  align-items: flex-start;
}

.row__cell--bottom {
  justify-content: end;
}
