.block {
  margin: 0;
  padding: 0;
}

.block--center {
  display: flex;
  justify-content: center;
}

.block--soft {
  background-color: #f6f6f6;
}

.block--primary {
  background-color: #0076ff;
}

.block--secondary {
  background-color: #42dd84;
}

.block--dark {
  background-color: #000;
}

.block--fit {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.block--scrollable {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
