.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 10px;
  display: block;
}

.card__logo {
  height: 45px;
  background: url(/svg/logo_fc_bayern_munchen.svg) center center no-repeat;
  background-size: contain;
  width: 100%;
}

.card__section {
  display: flex;
  justify-content: space-between;
}

.card__section--soft {
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.card__column {
  width: 100%;
  text-align: center;
  align-self: flex-end;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
