html,
body {
  font: 15px/24px "Montserrat", Verdana;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

body {
  margin: 0 auto;
  background-color: #fff;
  padding: 0;
}

svg text {
  user-select: none;
}

svg,
img {
  display: block;
  max-width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font: 24px/24px "Montserrat", Verdana;
  color: #000;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}

.h1,
h1 {
  font: bold 40px/40px "Montserrat", Verdana;
}

.h2,
h2 {
  font: bold 32px/32px "Montserrat", Verdana;
}

.h3,
h3 {
  font: bold 24px/24px "Montserrat", Verdana;
}

.h4,
h4 {
  font: bold 16px/20px "Montserrat", Verdana;
}

.h5,
h5 {
  font: bold 13px/24px "Montserrat", Verdana;
}

dl {
  padding-bottom: 24px;
}

dl:last-child {
  padding-bottom: 0;
}

dt,
strong {
  font-weight: 700;
}
