.section {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.section--center {
  display: flex;
  justify-content: center;
}

.section--soft {
  background-color: #f6f6f6;
}

.section--primary {
  background-color: #0076ff;
}

.section--secondary {
  background-color: #42dd84;
}

.section--dark {
  background-color: #000;
}
