.dialog {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.dialog__header {
  padding: 20px 20px 10px 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dialog__body {
  padding: 10px 30px;
  display: flex;
  justify-content: center;
}

.dialog__body--compact {
  padding: 0;
}
