.dialog {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.dialog__header {
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dialog__body {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
}

.dialog__body--compact {
  padding: 0;
}
