.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #333;
  overflow: scroll;
}

.nav__item {
  padding: 1rem 1rem 0.75rem 1rem;
  color: #fff;
  text-decoration: none;
  border-bottom: 0.25rem solid #333;
  white-space: nowrap;

  &:focus {
    outline: 0;
  }
}

.nav__item--active {
  border-bottom: 0.25rem solid #fff;
}
